* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}
html {
  font-family: helvetica;
}

html, body {
  max-width: 100vw;
}

table {
  background-color: white;
  margin: auto;
  border-spacing: 0;
  table-layout: fixed;

  /* display: block; */
  /* width: fit-content; */
  width: 50%;
  max-width: 100%;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
}

td, th {
  min-width: 80px;
  border: solid rgb(200, 200, 200) 1px;
  padding: .5rem;
}
th {
  text-align: left;
  background-color: rgb(190, 220, 250);
  text-transform: uppercase;
  border-bottom: rgb(50, 50, 100) solid 2px;
  border-top: none;
}

td {
  /* white-space: nowrap; */
  border-bottom: none;
  color: rgb(20, 20, 20);
}

td:last-of-type, th:last-of-type {
  border-right: none;
}

table tbody tr td:first-child{
  background-color: white;
  font-size: 20px;
  color: rgb(63, 54, 54);
}



@media screen and (max-width: 720px) {
  .container{
    width: 100%;
  }
  *{
    margin: 0;
    padding: 0;
  }
  table{
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
  }
  .countInput{
    width: 100% !important;
  }
}


.footer td{
  color: brown;
  font-size: 18px;
}

.countInput{
  width: 60%;
  margin: auto;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toCustPage{
  text-decoration: none;
  text-align: center;
  font-size: 30px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.step-links a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ccc;
  margin: 0 5px;
  border-radius: 5px;
  background-color: rgb(190, 220, 250);

}

.step-links a:hover {
  background-color: #eee;
}

.current-page {
  padding: 8px 16px;
  border: 1px solid #ccc;
  margin: 0 5px;
  border-radius: 5px;
  background-color: rgb(190, 220, 250);

}

#saveButton {
  --c: rgb(190, 220, 250); /* the color*/

  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
#saveButton:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
#saveButton:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--c);
  color: #fff;
}
table tbody tr td:first-child{
  word-wrap: break-word;
}
#saveButton {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  cursor: pointer;
  /* font-weight: bold;   */
  border: none;
  width: 100%;
}

#total-sum{
  text-align: center;
}

@media screen and (max-width: 720px){
  .cvB{
    font-size: 25px !important;
  }
  #adminTable{
    font-size: 10px;
  }
  #saveButton{
    font-size: 16px;
  }
  #adminTable tbody tr :nth-child(2){
    font-size: 16px;
  }
  #adminTable tbody tr :nth-child(3){
    font-size: 16px;
  }
  #trtd{
    font-size: 10px;
  }
  table tbody tr td:first-child{
    font-size: 15px;
  }
}

.svB{
  font-size: 18px !important;
}
#addProductForm {
  /* background-color: aqua; */
  margin: auto;
}

#addProductDiv{
  width: 100%;
  margin: auto;
  /* background-color: blue; */
  align-items: center;
  justify-content: center;
  display: block;
}

#ProductInputs{
  width:50%;
  background-color: rgba(190, 220, 250, 0.527);
  border-radius: 35px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;
}
@media screen and (max-width:720px){
  #ProductInputs{
    width: 100%;
  }
  #tablesByUser{
    font-size: 15px;
  }
}

.paymant{
  /* background-color: aqua; */
  background-color: rgba(21, 109, 109, 0.589);
  border: 1px solid gray;
  margin: auto;
  width: 300px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

}
.paymant input{
  height: 28px;
  width: auto;
  width: 250px;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

.paymant #saveButton{
  width: 110px;
  font-size: 20px;
  height: 35px;
  position: relative;
  top: 2px;
  background-color: aquamarine;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}


.table-heading-div{
  /* width: 150px; */
  min-width: 150px;
  max-width: 250px;
  height: 40px;
  margin: auto;
  background-color: rgba(0, 255, 255, 0.431);
  text-align: center;
  border: 2px solid gray;
}


.salary{
  width: 300px;
  height: 280px;
  background-color: rgba(92, 142, 189, 0.568);
  margin: auto;
  border-radius: 20px;
  text-align: center;
  border: 1px solid black ;
}

.salarySelect{
  width: 150px;
  height: 30px;
  text-align: center;

}
.salaryInput {
  width: 150px;
  height: 30px;
  text-align: center;
}
.salaryButton{
  width: auto;
  height: 30px;
  font-size: 22px;
  background-color: rgba(41, 56, 56, 0.603);
}
.salary h1{
  color:#000000b2;
}
.salary h3{
  color:#000000b2;
}
.inputDate{
  width: 100%;
  text-align: center;
}

.mistakes{
  margin: auto;
  width: 100px;
  height: 35px;
  background-color: rgba(21, 48, 74, 0.72);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}


@media screen and (max-width: 540px) {

  table.responsive {
    background-color: white;
    margin: auto;
    border-spacing: 0;
    overflow-x: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
  }

  table.responsive td, th {
    min-width: 80px;
    border: solid rgb(200, 200, 200) 1px;
    padding: .5rem;
  }
  table.responsive th {
    text-align: left;
    background-color: rgb(190, 220, 250);
    text-transform: uppercase;
    border-bottom: rgb(50, 50, 100) solid 2px;
    border-top: none;
  }

  table.responsive td {
    white-space: nowrap;
    border-bottom: none;
    color: rgb(20, 20, 20);
  }

  table.responsive td:first-of-type, th:first-of-type {
    border-left: none;
  }

  table.responsive td:last-of-type, th:last-of-type {
    border-right: none;
  }
  table.responsive thead tr th:first-child{
    position: sticky;
    left: 0;
    z-index: 2;

  }
  table.responsive tbody tr td:first-child{
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: white;
    font-size: 20px;
    color: rgb(63, 54, 54);
  }
  }

