{% extends 'base.html' %}
{% load static %}
{% block 'links' %}
  <link rel="stylesheet" href="{% static 'tables/responsive.css'%}">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"> -->
{% endblock %}

{% block 'title' %}
<title>Recent Messages</title>
{% endblock%}

{% block 'body' %}

<div style="max-width: 800px; margin: auto;">
    <h1 style="text-align: center; color: #333;">Նախորդ Հայտարարությունները</h1>
    <br>
    <!-- Loop through the messages -->
    {% for message in messages %}
    <div style="background-color: #fff; border: 1px solid #ddd; border-radius: 8px; padding: 15px; margin-bottom: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); overflow-wrap: break-word; word-wrap: break-word; max-width: 100%;">
        <p><strong>From:</strong> {{ message.from_user.username }}</p>
        <p><strong>Message:</strong> {{ message.message }}</p>
        <br><br>
        <p><strong>To:</strong> {{ message.to_users }}</p>
        <br>
        <p><strong>Sent:</strong> {{ message.sent }}</p>
        <p><strong>Seen By:</strong> {{ message.seen_by }}</p>

        <div style="margin-top: 15px;">
            <a href="{% url 'update_message' message.id %}" style="padding: 8px 12px; background-color: #3273dc; color: #fff; text-decoration: none; border-radius: 5px; margin-right: 5px;">Edit</a>
            <a href="{% url 'delete_message' message.id %}" style="padding: 8px 12px; background-color: #f14668; color: #fff; text-decoration: none; border-radius: 5px;">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}

