{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tables/header.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/tables-512.png' %}">
    {% block 'links' %}

    {% endblock%}

    {% block 'title' %}

    {% endblock %}
</head>
<body style="background-image: url({% static 'img/background.jpg' %})">
    {% if user.is_authenticated  %}
        {% if user.is_supplier %}
            <header style="height: 60px; background-image: url({% static 'img/background.jpg' %})">
                <nav style="height: auto;">
                    <a href="{% url 'supplier' %}">Գլխավոր</a>
                    <a href="{% url 'orderedProducts' %}">Տեսականի</a>
                    <a href="{% url 'logout' %}">Ելք</a>
                </nav>
            </header><br>
        {% else %}
            <header style="background-image: url({% static 'img/background.jpg' %})">
                <nav>
                    {% block header %}
                        {% if header.lenght > 0 %}
                            {{ header }}
                        {% else %}
                            <h1 style="color:white;">Բարի Գալուստ {{user.username}}</h1>
                        {% endif %}
                    {% endblock %}
                {% if user.is_admin %}
                    <a href="{% url 'adminpage' %}">Գլխավոր</a>
                    <a href="{% url 'customersforadmin' %}">Հաճախորդներ</a>
                {% elif user.is_employee %}
                    <a href="{% url 'employee' %}">Գլխավոր</a>
                {% elif user.is_customer %}
                    <a href="{% url 'customer' %}">Գլխավոր</a>
                {% endif %}
                {% if user.is_employee %}
                    {% block nav %}
                        {% if nav.lenght > 0 %}
                            {{ nav }}
                        {% else %}
                            <a style="height: 40px;" href="{% url 'customers' %}">Աշխատանք
                                {% if is_waiting %}
                                    <div style ="background-color: red;width: 10px;height: 10px;border-radius: 50%;position: relative;bottom: 36px;left: 123px;z-index: 10000;"></div>
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endblock %}
                {% elif user.is_customer %}
                    {% block cav %}
                        {% if cav.lenght > 0 %}
                            {{ cav }}
                        {% else %}
                            <a href="{% url 'tablesbyuser' %}">Ցուցակներ</a>
                        {% endif %}
                    {% endblock %}
                {% endif %}
                <a href="{% url 'logout' %}">Ելք</a>
            </nav>
            </header><br><br><br>
        {% endif %}
    {% endif %}
    {% block 'body'%}

    {% endblock %}

    {% block 'scripts' %}

    {% endblock %}
</body>
</html>