{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}

{% block 'links' %}
<link rel="stylesheet" href="{% static 'tables/home.css' %}">

{% endblock %}

{% block 'title' %}
    <title>{{customer}}'s Tables</title>
{% endblock %}

{% block header %}
    <h1 style="color:white;">{{customer}}'s Tables</h1>
{% endblock %}

{% block 'body' %}

<main class="container">


<table style="text-align: center;" id="debtTable">
    <thead style="text-align: center;" id="tablesByUser">
        <tr>
            <th>Ամսաթիվ</th>
            <th>Արտադրամաս</th>
            <th>Այլ.ապրանք</th>
            <th>Ընդհանուր</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4" style="color: rgb(189, 70, 70); font-size: 18px;border-bottom: 1px solid black;">ՀԻն Պարտք {{oldDebt.debt}}</td>
        </tr>
        {% for debt in joinedDebt %}
            <tr>
                <td>{{debt.0}}</td>
                <td id="debtNum" date="{{debt.0}}">{{debt.1}}</td>
                <td id="debtNum" date="{{debt.0}}">{{debt.2}}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr id="total-row">
            <td>Ընդ</td>
            <td></td>
            <td></td>
            <td style="color: red;"></td>
        </tr>
        <tr>
            <td>Ռոճիկ</td>
            <td></td>
            <td></td>
            <td>{{weekPaymant.salary}}</td>
        </tr>
        <tr>
            <td>Վերադարձ</td>
            <td></td>
            <td></td>
            <td>{{weekPaymant.returned}}</td>
        </tr>
        <tr>
            <td>Գումար</td>
            <td></td>
            <td></td>
            <td>{{weekPaymant.money}}</td>
        </tr>
        <tr>
            <td colspan="2" style="color: red; font-size: 18px;border-top: 2px solid black;">Մնացորդ {{weekDebt.debt}}</td>
            {% if table.number == 1 %}
                <td colspan="2" style="color: red; font-size: 18px;border-top: 2px solid black;">Ընդհանուր Պարտք {{globalDebt.debt}}</td>
            {% else %}
                <td colspan="2" style="color: red; font-size: 18px;border-top: 2px solid black;">---</td>
            {% endif %}
        </tr>
    </tbody>

</table>

<br><br><br>

{% for join in joins %}
    <table id="myTable">
        </thead>
        <thead>
            <tr>
                <th>
                    Ապրանք
                </th>
                <th>
                    Քանակ
                </th>
                <th>
                    Գին
                </th>
                <th>
                    Ընդհանուր
                </th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
                {% if join == table.joinedTable%}
                    {% for row in JoinRows %}

                        {% if table == row.table %}
                            {% if row.product_price != 0 %}
                            <tr>
                                <td>
                                    <h3>{{ row.product_name }}</h3>
                                </td>
                                <td>
                                    <h3>{{ row.product_count }}</h3>
                                </td>
                                <td>
                                    <h3>{{ row.product_price }}</h3>
                                </td>
                                <td id="total_price">
                                    <h3>{{ row.total_price }}</h3>
                                </td>
                            </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor%}
        </tbody>
        <tfoot>
            <tr class="footer">
                <td>Արտադրամաս</td>
                <td>{{join.dateOfCreating|format_date}}</td>
                <td>Total</td>
                <td id="totalPrice"></td>
            </tr>
        </tfoot>
    </table>
    <br>
    <br>
    <br>
{% endfor %}

{% if singleTables %}
    {% for table in singleTables %}
        <table id="myTable">
        <thead>
            <tr>
                <th>
                    Ապրանք
                </th>
                <th>
                    Քանակ
                </th>
                <th>
                    Գին
                </th>
                <th>
                    Ընդհանուր
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in SingleRows %}
                {% if row.table == table %}
                <tr>
                    <td>
                        <h3>{{ row.product_name }}</h3>
                    </td>
                    <td>
                        <h3>{{ row.product_count }}</h3>
                    </td>
                    <td>
                        <h3>{{ row.product_price }}</h3>
                    </td>
                    <td id="total_price">
                        <h3>{{ row.total_price }}</h3>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="footer">
                <td>Այլ․Ապրանք</td>
                <td>{{table.dateOfCreating|format_date}}</td>

                <td>Total</td>
                <td id="totalPrice"></td>
            </tr>
        </tfoot>
    </table>
    <br><br><br>
    {% endfor %}
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if table.has_previous %}
            <a href="?page=1">first &laquo;</a>
            <a href="?page={{ table.previous_page_number }}">prev &lsaquo;</a>
        {% endif %}

        <span class="current-page">
            Page {{ table.number}} of {{ table.paginator.num_pages }}.
        </span>

        {% if table.has_next %}
            <a href="?page={{ table.next_page_number }}">next &rsaquo;</a>
            <a href="?page={{ table.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<div id="scrollToTop" class="scroll-to-top"
    style="
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        display: none;
    "
>&#8593;</div>
</main>

{% endblock %}


{% block 'scripts' %}

<script src="{% static 'js/customer/addTotalForTable.js'%}"></script>
<script src="{% static 'js/employee/empScroller.js' %}"></script>
<script src="{% static 'js/customer/miniScroller.js' %}"></script>

{% endblock %}
