{% extends 'base.html' %}
{% load static %}

{% block 'links' %}

<link rel="stylesheet" href="{% static 'tables/home.css' %}">

{% endblock %}

{% block 'title' %}
<title>{{user.username}}'s Page</title>
{% endblock %}

{% block 'body' %}

    {% if martuni %}
        <div class="table-heading-div">
            <a href="{% url 'writing_table' %}" style="color: black;"><h1>Գրենական</h1></a>
        </div><br><br>
    {% endif %}

    <main class="container">
        {% if unreaden_messages %}
        <a
        href="{% url 'see_messages' user.id %}"
        style="
          text-decoration: none;
          color: rgb(202, 8, 8);
        "
        >
        <div class="table-heading-div">
            <h1>Նամակներ</h1>
        </div>
        </a>
        <br><br><br>
        {% else %}
        <a
        href="{% url 'see_messages' user.id %}"
        style="
          text-decoration: none;
          color: black;
        "
        >
        <div class="table-heading-div">
            <h1>Նամակներ</h1>
        </div>
        </a>
        <br><br><br>
        {% endif %}
        <div class="table-heading-div">
            <h1 >Արտադրամաս</h1>
        </div>
        <br>
        <table class="responsive-table" style="text-align: center;">
            <thead>
                <tr>
                    <th style="text-align: center;">
                        Ապրանք
                    </th>
                    <th style="text-align: center;">
                        Քանակ
                    </th>
                    <th style="text-align: center;">
                        Գին
                    </th>
                    <th style="text-align: center;">
                        Ընդ...
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for join in joinedSuppliers %}
                    {% for i in Items %}
                        {% if i.supplier == join.username %}
                            {% if i.customer == request.user.username or i.customer == 'all' %}
                                <tr name="{{join.username}}">
                                    <td class="productName" id="productName-{{i.id}}">
                                        {{ i.productName }}
                                    </td>
                                    {% if i.is_available %}
                                    <td class="productCount">
                                        <input type="number" name="inp" class="input{{i.id}} countInput"
                                            placeholder="0" value="">
                                    </td>
                                    {% else %}
                                    <td class="productCount" style="background-color: red;">
                                        <input disabled type="number" name="inp" class="input{{i.id}} countInput"
                                            placeholder="0" value="">
                                    </td>
                                    {% endif %}
                                    <td data-title='productPrice' class="productPrice">
                                        {{ i.productPrice }}
                                    </td>
                                    <td id="result-{{ i.id }}" class="totalPrice">
                                        0
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr style="height: 60px;">
                    <td style="border-top: 2px solid black;">
                        <input type="date" id="inputDate" class="inputDate" name="date">
                    </td>
                    <td style="border-top: 2px solid black;" colspan="2">
                        <button id="saveButton" class="saveTable" type="button" style="height: 40px;">Ուղարկել</button>
                    </td>
                    <td style="border-top: 2px solid black;" id="total-sum"></td>
                </tr>
            </tfoot>
        </table>
        <br><br><br>

        {% for supplier in Suppliers %}
            <div class="table-heading-div">
                <h1 >{{ supplier.username }}</h1>
            </div>
            <br>
            <table class="responsive-table" style="text-align: center;">
                <thead>
                    <tr>
                        <th style="text-align: center;">
                            Ապրանք
                        </th>
                        <th style="text-align: center;">
                            Քանակ
                        </th>
                        <th style="text-align: center;">
                            Գին
                        </th>
                        <th style="text-align: center;">
                            Ընդ...
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in Items %}
                        {% if i.supplier == supplier.username %}
                            {% if i.customer == request.user.username or i.customer == 'all' %}
                                <tr>
                                    <td class="productName" id="productName-{{i.id}}">
                                        {{ i.productName }}
                                    </td>
                                    {% if i.is_available %}
                                    <td class="productCount">
                                        <input type="number" name="inp" class="input{{i.id}} countInput"
                                            placeholder="0" value="">
                                    </td>
                                    {% else %}
                                    <td class="productCount" style="background-color: red;">
                                        <input disabled type="number" name="inp" class="input{{i.id}} countInput"
                                            placeholder="0" value="">
                                    </td>
                                    {% endif %}
                                    <td data-title='productPrice' class="productPrice">
                                        {{ i.productPrice }}
                                    </td>
                                    <td id="result-{{ i.id }}" class="totalPrice">
                                        0
                                    </td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr style="height: 60px;">
                        <td style="border-top: 2px solid black;">
                            <input type="date" id="inputDate" class="inputDate" name="date">
                        </td>
                        <td style="border-top: 2px solid black;" colspan="2">
                            <button id="saveButton" class="saveTable{{supplier.id}}" type="button" style="height: 40px;">Ուղարկել</button>
                        </td>
                        <td style="border-top: 2px solid black;" id="total-sum"></td>
                    </tr>
                </tfoot>
            </table>
            <br><br><br>
        {% endfor %}

    </main>


{% endblock %}


{% block 'scripts' %}
    <script src="{% static 'js/customer/customer.js' %}"></script>
    <script src="{% static 'js/customer/saveCustomerTable.js' %}"></script>
    <script src="{% static 'js/customer/inputDate.js' %}"></script>
{% endblock %}