{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/tables-512.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Login</title>
</head>
<body style="background-image: url({% static 'img/background.jpg' %});">
  <br><br><br>
  <div class="form-div" >
    <br>
    <h1>LOG IN FORM</h1><br><br><br>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  </div>

</body>
</html>
