{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}

{% block 'links' %}

<link rel="stylesheet" href="{% static 'tables/home.css' %}">

{% endblock %}

{% block 'title' %}
    <title>{{user}}'s Tables</title>
{% endblock %}


{% block cav %}
    <a style="height: 40px;" href="{% url 'changes' %}">
        Ուղղումներ
    {% if is_waiting %}
        <div
            style="
            background-color: red;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: relative;
            bottom: 36px;
            left: 117px;
            z-index: 10000;
            ">
        </div>
    {% endif %}
    </a>
{% endblock %}

{% block 'body' %}
<br><button id="saveButton" class="paymantButton"
style="
    width: 180px;
    text-align: center;
    font-size: 22px;
    background-color: rgba(0, 255, 255, 0.539);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
"
>Կատարել Վճարում</button><br>
<div class="paymant" style="display: none;  height: 380px;">

    <form method="post" action="{% url 'paymant' %}">
        {% csrf_token %}
        <br><p style="background-color: #ccc;margin: auto; text-align: center;height: 30px;justify-content: center;display: flex;align-items: center;width: 200px;font-size: 26px;">Շաբատ</p>
        <select name="date" style="width: 240px;height: 50px;margin: auto;display: flex;align-items: center;justify-content: center;text-align: center;font-weight: bold;font-size: 18px;">
            {% for i in select_date %}
                <option style="font-weight: bold;" value="{{i.value|format_date}}" class="WeekOption">{{i.name}}</option>
            {% endfor %}
        </select><br><br>
        <label>
            <p style="font-size: 18px;background-color: #ccc; text-align: center;width: 250px;margin: auto;">Գումար</p>
            <input type="number" value="" name="money">
        </label><br>
        <label>
            <p style="font-size: 18px; background-color: #ccc; text-align: center;width: 250px;margin: auto;">Վերադարձ</p>
            <input type="number" value=""  name="returned">
        </label><br>

        <label>
            <p style="font-size: 18px;background-color: #ccc; text-align: center;width: 250px;margin: auto;">Ռոճիկ</p>
            <input type="number" value=""  name="salary">
        </label><br>
        <button type="submit" id="saveButton">Ուղարկել</button>
    </form>
</div><br>


<table style="text-align: center;" id="debtTable">
    <thead style="text-align: center;" id="tablesByUser">
        <tr>
            <th>Ամսաթիվ</th>
            <th>Արտադրամաս</th>
            <th>Այլ.ապրանք</th>
            <th>Ընդհանուր</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4" style="color: rgb(189, 70, 70); font-size: 18px;border-bottom: 1px solid black;">ՀԻն Պարտք {{oldDebt.debt}}</td>
        </tr>
        {% for debt in joinedDebt %}
            <tr>
                <td>{{debt.0}}</td>
                <td date="{{debt.0}}" id="debtNum">{{debt.1}}</td>
                <td date="{{debt.0}}" id="debtNum">{{debt.2}}</td>
                <td></td>
            </tr>
        {% endfor %}
        <tr id="total-row">
            <td style="border-bottom: 1px solid black;border-top: 1px solid black;color: red;">Ընդ</td>
            <td style="border-bottom: 1px solid black;border-top: 1px solid black;"></td>
            <td style="border-bottom: 1px solid black;border-top: 1px solid black;"></td>
            <td style="border-bottom: 1px solid black;border-top: 1px solid black;color: red;"></td>
        </tr>
        <tr>
            <td>Ռոճիկ</td>
            <td></td>
            <td></td>
            <td>{{weekPaymant.salary}}</td>
        </tr>
        <tr>
            <td>Վերադարձ</td>
            <td></td>
            <td></td>
            <td>{{weekPaymant.returned}}</td>
        </tr>
        <tr>
            <td>Գումար</td>
            <td></td>
            <td></td>
            <td>{{weekPaymant.money}}</td>
        </tr>
        <td colspan="2" style="color: red; font-size: 18px;border-top: 2px solid black;">Մնացորդ {{weekDebt.debt}}</td>
        {% if table.number == 1 %}
            <td colspan="2" style="color: red; font-size: 18px;border-top: 2px solid black;">Ընդհանուր Պարտք {{globalDebt.debt}}</td>
        {% else %}
            <td colspan="2" style="color: red; font-size: 18px;border-top: 2px solid black;">---</td>
        {% endif %}

    </tbody>

</table>




<br><br><br>

{% for join in joins %}
    <table id="myTable">
        </thead>
        <thead>
            <tr>
                <th>
                    Ապրանք
                </th>
                <th>
                    Քանակ
                </th>
                <th>
                    Գին
                </th>
                <th>
                    Ընդհանուր
                </th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
                {% if join == table.joinedTable%}
                    {% for row in JoinRows %}

                        {% if table == row.table %}
                            <tr>
                                <td>
                                    <h3>{{ row.product_name }}</h3>
                                </td>
                                <td>
                                    <h3>{{ row.product_count }}</h3>
                                </td>
                                <td>
                                    <h3>{{ row.product_price }}</h3>
                                </td>
                                <td id="total_price">
                                    <h3>{{ row.total_price }}</h3>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor%}
        </tbody>
        <tfoot>
            <tr class="footer">
                <td>Արտադրամաս</td>
                <td>{{join.dateOfCreating|format_date}}</td>
                <td>Total</td>
                <td id="totalPrice"></td>
            </tr>
        </tfoot>
    </table><br>
    <a href="{% url 'mistake' join.id %}" style="text-decoration: none;"><button id="{{table.id}}" class="mistakes">Փոխել</button></a>

    <br>
    <br>
    <br>
{% endfor %}

{% if singleTables %}
    {% for table in singleTables %}
        <table id="myTable">
        <thead>
            <tr>
                <th>
                    Ապրանք
                </th>
                <th>
                    Քանակ
                </th>
                <th>
                    Գին
                </th>
                <th>
                    Ընդհանուր
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in SingleRows %}
                {% if row.table == table %}
                <tr>
                    <td>
                        <h3>{{ row.product_name }}</h3>
                    </td>
                    <td>
                        <h3>{{ row.product_count }}</h3>
                    </td>
                    <td>
                        <h3>{{ row.product_price }}</h3>
                    </td>
                    <td id="total_price">
                        <h3>{{ row.total_price }}</h3>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="footer">
                <td>Այլ․Ապրանք</td>
                <td>{{table.dateOfCreating|format_date}}</td>
                <td>Total</td>
                <td id="totalPrice"></td>
            </tr>
        </tfoot>
    </table>
    <br>
    <a href="{% url 'mistake' table.id %}" style="text-decoration: none;"><button id="{{table.id}}" class="mistakes">Փոխել</button></a>
    <br><br><br>
    {% endfor %}
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if table.has_previous %}
            <a href="?page=1">first &laquo;</a>
            <a href="?page={{ table.previous_page_number }}">prev &lsaquo;</a>
        {% endif %}

        <span class="current-page">
            Page {{ table.number}} of {{ table.paginator.num_pages }}.
        </span>

        {% if table.has_next %}
            <a href="?page={{ table.next_page_number }}">next &rsaquo;</a>
            <a href="?page={{ table.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<div id="scrollToTop" class="scroll-to-top"
    style="
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        display: none;
    "
>&#8593;</div>
{% endblock %}


{% block 'scripts' %}

<script src="{% static 'js/customer/addTotalForTable.js'%}"></script>
<script src="{% static 'js/customer/paymantDefault.js' %}"></script>
<script src="{% static 'js/customer/miniScroller.js' %}"></script>
<script src="{% static 'js/customer/scroller.js' %}"></script>

{% endblock %}