{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block 'links' %}
    <link rel="stylesheet" href="{% static 'tables/home.css' %}">
{% endblock %}


{% block 'title' %}
    <title>Total</title>
{% endblock %}

{% block 'body' %}
    <table style="text-align: center;" id="debtTable">
        <thead style="text-align: center;" id="tablesByUser">
            <tr>
                <th>Ամսաթիվ</th>
                <th>Արտադրամաս</th>
                <th>Այլ.ապրանք</th>
                <th>Ընդհանուր</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4" style="color: rgb(189, 70, 70); font-size: 18px;border-bottom: 1px solid black;">ՀԻն Պարտք {{OldDebt}}</td>
            </tr>
            {% for debt in joinedDebt %}
                <tr>
                    <td class="date-cell" data-date="{{debt.0}}">{{debt.0}}</td>
                    <td>{{debt.1}}</td>
                    <td>{{debt.2}}</td>
                    <td></td>
                </tr>
            {% endfor %}
            <tr id="total-row">
                <td style="border-bottom: 1px solid black;border-top: 1px solid black;color: red;">Ընդ</td>
                <td style="border-bottom: 1px solid black;border-top: 1px solid black;"></td>
                <td style="border-bottom: 1px solid black;border-top: 1px solid black;"></td>
                <td style="border-bottom: 1px solid black;border-top: 1px solid black;color: red;"></td>
            </tr>
            <tr>
                <td>Ռոճիկ</td>
                <td></td>
                <td></td>
                <td>{{Salary}}</td>
            </tr>
            <tr>
                <td>Վերադարձ</td>
                <td></td>
                <td></td>
                <td>{{Returned}}</td>
            </tr>
            <tr>
                <td>Գումար</td>
                <td></td>
                <td></td>
                <td>{{Money}}</td>
            </tr>
            <tr>
                <td colspan="2" style="color: red; font-size: 18px;border-top: 2px solid black;">Մնացորդ {{NewDebt}}</td>
                {% if table.number == 1 %}
                    <td colspan="2" style="color: red; font-size: 18px; border-top: 2px solid black;">Ընդհանուր Պարտք {{GlobalDebt}}</td>
                {% else %}
                    <td colspan="2" style="color: red; font-size: 18px; border-top: 2px solid black;">---</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <br><br><br>

<table class="responsive">
    <thead>
        <tr>
            <th>Դպրոց</th>
            <th>Գումար</th>
            <th>Ռոճիկ</th>
            <th>Վերադարձ</th>
            <th>ՀԻն</th>
            <th>Մնաց</th>
        </tr>
    </thead>
    <tbody>
        {% for pay in Paymants %}
            <tr>
                <td>{{pay.0}}</td>
                <td>{{pay.1}}</td>
                <td>{{pay.2}}</td>
                <td>{{pay.3}}</td>
                <td>{{pay.4}}</td>
                <td>{{pay.5}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table><br><br>

<div id="parentTot" style="
    background-color:rgba(128, 128, 128, 0.514);
    display: none;
    position: relative;
    z-index: 14;
    border-radius: 15px;
    margin: auto;
    height: 2000px;
"><br><br><br><br><br><br><br><br><br>
<div id="x" style="color: white;
font-size: 22px;
position: relative;
background-color: red;
width: 50px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
">X</div>
    <div id="debtDetails" style="
    position: relative;
    margin: auto;
    z-index: 15;
    ">
        <table>
            <thead>
                <tr>
                    <th>Անուն</th>
                    <th>Արտադրամաս</th>
                    <th>Այլ Ապրանք</th>
                    <th>Ընդհանուր</th>
                </tr>
            </thead>
            <tbody id="debtDetails_body" >

            </tbody>
        </table><br><br><br><br>
    </div>
</div>




<div class="pagination">
    <span class="step-links">
        {% if table.has_previous %}
            <a href="?page=1">first &laquo;</a>
            <a href="?page={{ table.previous_page_number }}">prev &lsaquo;</a>
        {% endif %}

        <span class="current-page">
            Page {{ table.number}} of {{ table.paginator.num_pages }}.
        </span>

        {% if table.has_next %}
            <a href="?page={{ table.next_page_number }}">next &rsaquo;</a>
            <a href="?page={{ table.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}

{% block 'scripts' %}
<script src="{% static 'js/customer/addTotalForTable.js'%}"></script>
<script src="{% static 'js/employee/getDebt_by_date.js'%}"></script>

{% endblock %}